/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --contrast-color: #353430;
  --transparent-contrast-color: rgba(53, 52, 48, 0.4);
  --background-color: #fff1f7;
  --subtitle-text-color: #353430;
  --accent-color: #ff8dcb;
  --headline-accent-color: #ffc2e6;
  --text-color: #353430;
  --visibility: hidden;
  background-image: url(../images/cover-image-light.png);
} 

@media (prefers-color-scheme: light) {
  :root {
    --contrast-color: #353430;
    --transparent-contrast-color: rgba(53, 52, 48, 0.4);
    --background-color: #fff1f7;
    --subtitle-text-color: #353430;
    --accent-color: #ff8dcb;
    --headline-accent-color: #ffc2e6;
    --text-color: #353430;
    --visibility: hidden;
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }

}
